/* RESET CSS */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}


img {
    width: 100%;
    border-radius: .3125rem;
}

a {
    text-decoration: none;
    color: inherit;
}

/* / RESET CSS */

/* STYLES */

:root {
    /* COLORS */

    --color-dark: #1f1f1f;
    --color-light: #f3f3f3;
    --color-primary: #4391f0;
    --color-white: #fff;
    --color-error: #e26868;

    /* FONTS */

    --text-xl: normal normal 400 normal clamp(3em, 5vw, 4em) normal, "Hedvig Letters Serif", serif;
    --text-l: normal normal 400 normal clamp(1.5em, 5vw, 2em) normal, "Hedvig Letters Serif", serif;
    --text-md: normal normal 400 normal clamp(1.1875em, 5vw, 1.5em) normal, "Hedvig Letters Serif", serif;
    --text-s: normal normal 400 normal clamp(1.0625em, 5vw, 1.1875em) normal, "Instrument Sans", sans-serif;
    --body: normal normal 400 normal clamp(.9375em, 5vw, .9375em) normal, "Instrument Sans", sans-serif;
    --links: normal normal 600 normal clamp(.9375em, 5vw, .9375em) normal, "Instrument Sans", sans-serif;


    /* SPACES */

    --space-1: .25rem;
    --space-2: .5rem;
    --space-4:  1rem;
    --space-6: 1.5rem;
    --space-8: 2rem;
    --space-12: 3rem;
    --space-16: 4rem;


    /* LAYOUT */

    --max-width: 57.5rem;
    --max-width-xl: 88.75rem;
    --min-width: 15rem;
    --min-width-xs: 12.5rem;

}

/* / STYLES */

/* COMPONENTES */

h1,
.h1 {
    font: var(--text-xl);
}

h2,
.h2 {
    font: var(--text-l);
}

h3,
.h3 {
    font: var(--text-md);
}

h4,
.h4 {
    font: var(--text-s);
}

p,
body,
label,
input,
select,
textarea {
    font: var(--body);
}

label {
    display: none;
}

a,
.link {
    font: var(--links);

}

.btn {
    padding: 10px 32px;
    border-radius: var(--space-12);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    background-color: #4391f0;

    &.btn--dark {
        background-color: var(--color-dark);
        color: var(--color-white);
    }

    &.btn--light {
        background-color: var(--color-white);
        color: var(--color-dark);
    }
}

button[type="submit"] {
    padding: var(--space-4);
    border-radius: var(--space-12);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .625rem;
    background-color: #4391f0;
    color: var(--color-white);
    border: none;
}

input,
select {
    padding: 1rem 1.1875rem;
    border-radius: 6.25rem;
    border: none;
    background-color: #f3f3f3;
    width: 100%;
}

section {
    padding: var(--space-16) var(--space-4);
}

.block {
    max-width: var(--max-width);
    margin: 0 auto;
}

.block--xl {
    max-width: var(--max-width-xl);
    margin: 0 auto;
}

#prices {
    scroll-behavior: smooth;
}

/* / COMPONENTES */

/* HEADER */

.header {
    padding: var(--space-8);
}

.header__block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header__logo {
    max-width: 92px;
    border-radius: 0;

    @media (width <=608px) {
        padding-bottom: var(--space-8);
    }
}

.header__nav {

    & ul {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-8);
        list-style: none;
        align-items: center;
    }
}

.home__1 {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-16);
}

.home__1__img {
    border-radius: .3125rem;
    flex: 1 1 var(--min-width);
}

.home__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    flex: 1 1 var(--min-width);
}

.home__content__1 {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: var(--space-8);
}

/*NO HACIA FALTA PONER EL SEGUNDO DIV DEL PARRAFO Y ENLACE*/

.hero {
    padding: .625rem;
    color: var(--color-white);
}

.hero__background {

    min-height: 50rem;
    max-width: var(--max-width-xl);
    margin: 0 auto;
    border-radius: .3125rem;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--space-6);

        & .hero__image {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & .home__banner {
        background: linear-gradient(90deg, rgba(31, 31, 31, .8) 0%, rgba(31, 31, 31, .8) 100%), url(../media/img/Services-banner.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        }

    &.hero__background--services {
        min-height: 18.75rem;
        
        & .hero__block {
            align-items: center;
        }

    }

    &.hero__background--about {
        min-height: 18.75rem;
        background: linear-gradient(90deg, rgba(31, 31, 31, .8) 0%, rgba(31, 31, 31, .8) 100%), url(../media/img/About-banner.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        & .hero__block {
            align-items: center;
        }

    }

    &.hero__background--news {
        min-height: 18.75rem;
        background: linear-gradient(90deg, rgba(31, 31, 31, .8) 0%, rgba(31, 31, 31, .8) 100%), url(../media/img/News-banner.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        & .hero__block {
            align-items: center;
        }

    }

    &.hero__background--contact {
        min-height: 18.75rem;
        background: linear-gradient(90deg, rgba(31, 31, 31, .8) 0%, rgba(31, 31, 31, .8) 100%), url(../media/img/Contact-banner.webp);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        & .hero__block {
            align-items: center;
        }

    }

}

.hero__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

    width: 100%;

    padding: .625rem;
    gap: var(--space-4);
}

/* FEATURES*/

.features__cards {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width-xs), 1fr));

    & .features__card--contact {
        display: flex;
        background-color: red;

    }
}

.features__cards__contact {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width-xs), 1fr));
    gap: var(--space-4);

    & .features__card--contact {
        display: flex;
    flex-direction: column;
    flex: 1 1 9.375rem;
    gap: var(--space-4);
    padding: var(--space-4);
    background-color: var(--color-light);

    & i {
        margin-right: 1rem;
    }
    }   
}

.features__card {
    display: flex;
    flex-direction: column;
    flex: 1 1 9.375rem;
    gap: var(--space-4);
    padding: var(--space-4);

    & i {
        margin-right: 1rem;
    }
}


.services__content {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--space-4);
}

.services__cards {
    padding: var(--space-4) 0;
    gap: var(--space-4);

    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
}

.services__card {
    display: flex;
    flex-direction: column;
    gap: var(--space-4)
}

li {
    list-style: none;
}

/* Prices */
.prices__block {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-4);
}

.prices__card {
    flex: 1 1 var(--min-width-xs);
    display: flex;
    flex-direction: column;
    padding: var(--space-8);
    gap: var(--space-12);
    background-color: var(--color-light);
    border-radius: var(--radius-sm);

    &.prices__card--dark {
        background-color: var(--color-dark);
        color: var(--color-light)
    }
}

.prices__head {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.prices__list {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    & li {
        display: flex;
        gap: var(--space-4);
        align-items: center;

        & .ri-close-circle-line {
            color: var(--color-error);
        }
    }
}

.post__block {
    display: flex;
    flex-direction: column;
    padding: var(--space-16) var(--space-4);
    gap: var(--space-8);
}

.post__head {
    display: flex;
    justify-content: space-between;
    align-items: start;

}

.post__cards {
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
    padding: var(--space-4) 0;
    gap: var(--space-4);

}

.post__card {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

.contact__block {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-16);
}

.contact__map {
    flex: 3 1 var(--min-width);


    &  iframe {
        width: 100%;
        height: 100%;
        border-radius: .3125rem;
        filter: grayscale(100%);
    }
}

.contact__content {
    flex: 1 1 var(--min-width);
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.contact__form {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}

.contact__form-field {
    display: flex;
    flex-direction: column;
    gap: var(--space-8);
}


.contact__form-row {
    display: flex;
    gap: .625rem;
}

.contact__form-acceptance {
    display: flex;
    justify-content: start;
    align-items: center;

    & input {
        width: auto;
        }
    }

    /* Fotter */

.footer {
    padding: .625rem;


}
.footer__block {
    display: flex;
    flex-direction: column;
    background-color: var(--color-dark);
    color: var(--color-light);
    border-radius: .3125rem;
    padding: var(--space-8);
    gap: var(--space-8);

}
.footer__logo {
    display: flex;
    justify-content: space-between;
    padding: var(--space-4) 0;

}
.footer__img { 
    max-width: 5.75rem;

}
.footer__social {
    display: flex;
    gap: var(--space-4);

}
.footer__legal {
     display: flex;
     gap: var(--space-6);
     padding: var(--space-4) 0;

}

/* Testing */

/* @media (width >= 700px) {
    p {
        color: #e26868;
    }
}

@media  (width < 700px) {
    p  {
        color: #4391f0;
    }
}  */

/* - Mobile : 320px - 480px,
- Tablet : 768px - 1024px,
- Ordenador : 1200px, */


